.hero_section {
  display: flex;
  height: 65vh;
}
.hero_section-image {
  width: 60%;
  overflow: hidden;
}
.hero_section-content {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-between;
}

.content_buttons {
  display: flex;
  width: 25%;
  height: 80px;
}
.content_buttons button {
  background-color: #000;
  width: 50%;
}
.content_buttons button:hover {
  background-color: #444;
}
.hero_buttons {
  display: none;
  width: 100%;
  height: 80px;
}
.hero_buttons button {
  background-color: #000;
  width: 50%;
}
.hero_buttons button:hover {
  background-color: #444;
}

@media screen and (max-width: 425px) {
  .content_buttons {
    display: none;
  }
  .hero_buttons {
    display: flex;
  }
  .hero_section {
    height: 100vh;
    flex-direction: column;
  }
  .hero_section-image {
    width: 100%;
    height: 50%;
  }
  .hero_section-content {
    width: 100%;
  }
  .hero_buttons {
    padding: 0;
    margin: 0;
    width: 100px;
    background-color: red;
    display: block;
    position: absolute;
    right: 0;
    top: 267px;
    z-index: 20;
  }
  .content_buttons {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .hero_buttons {
    top: 286px;
  }
}
